/* 
general 
-------
*/

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 auto;
}

.mainLayout .ant-layout-header {
  background: #ffff;
  height: auto;
  line-height: 1.6;
}

/* Navrbar */

.navbar{
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
}

.navbar .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.ant-layout-header {
  /* position:fixed; */
    width:100%;
    left:0;
    top:0;
    right: 0;
    z-index: 999;
}

.navbar .logo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar .logo .fas {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.navbar .logo .title {
  color: #333;
}
/* News Block */
.news{
  background: #ffff;
  padding:0 0 0 0
}

/* block renungan */
.renungan{
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 45px;
  padding-bottom: 20px;
}

/* homepage */
.homepage{
  padding: 30px 0;
  background: none;
}

/* content */
.content{
  background: #ffff;
}

.title-holder{
  padding: 0 0 10px;
  color: #1890ff;
}

.historyBlock{
  background:#d9d9d9;
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}