/* 
general 
-------
*/

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  padding-bottom: 20px;
}

/* Navrbar */

.navbar{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.navbar .logo{
  max-height: 10;
}

/* News Block */
.news-card{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 50px 0;
  align-content: center;
  padding: 50 50 10 20;
}

.news-card .image{
  max-width: 250px;
  max-height: 250px;
}

.news-card .title{
  font-size: 20;
  font-weight: bold;
  padding: 0 50px;
}

.news-card .date-Holder{
  font-size: 15;
  font-weight: 100;
  padding: 0 1200px;
}

/* block renungan */
.block-renungan{
  max-width: 1200;
  padding: 0 30px;
  margin: 0 auto;
  background-color: honeydew;
}

.block-renungan .content{
  display: inline-flex;
  min-width: none;
  max-width: 1200;
}

.block-renungan .content .image{
  max-width: 250px;
  max-height: 250;
  display: block;
}

.block-renungan .content .title{
  font-size: 15;
  padding: 0 40px
}

.block-renungan .content .date-holder{
  display: block;
  padding: 0 100px;
  margin: 500;
}

.block-renungan .content .text{
  max-width: fit-content;

}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}