/* 
general 
-------
*/

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 auto;
}

.mainLayout .ant-layout-header {
  background: #ffff;
  height: auto;
  padding: 0;
  line-height: 1.6;
}

/* Navrbar */

.navbar{
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 auto;
}

.navbar .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.ant-layout-header {
    position:sticky;
    width:100%;
    left:0;
    top:0;
    right: 0;
    z-index: 999;
}

.navbar .logo {
  display: flex;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar .menu{
  font-size: 17px;
}

.navbar .logo .fas {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.navbar .logo a{
  color: #333;
}
/* News Block */
.news{
  background: #ffff;
  padding:0 0 0 0
}

/* block renungan */
.renungan{
  margin: 0 auto;
  padding: 0 45px;
  background: #fff;
}
.renungan .block-renungan{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 auto;
}

/* homepage */
.homepage{
  padding: 30px 0;
  background: none;
}

/* content */
.page-content{
  background: #ffff;
  min-height: 50vh;
}

.title-holder{
  margin: 0 auto;
  padding: 0 0 10px;
  background:#002766;
  display: block;
  line-height: '160px',
}

.title-holder .content-title{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 auto;
  font-size: 30px;
  font-weight: 600;
  color: #ffff;

}
.historyBlock{
  padding-left: 5px;
  background:#d9d9d9;
}

/* timeline */
.timeline{
  padding-top:40px;
}

/* login page */
.login{
  min-height: 100vh;
  min-width:fit-content ;
  background-position: 50% 50%;
  background-image: url('/altar.jpeg'), linear-gradient(#eb01a5, #d13531);
  background-size: cover;
}
.login-block{
  display: flex;
  min-height: 100vh;
  max-width: 350px;
  margin: 0 auto;
  padding: 0 auto;
}

/* footer */
.ant-layout-footer {
  background: #003a8c !important;
  color: #fff !important;
  padding: 30px 0 !important;
  text-align: center;
}

.footer{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}
.footer .block{
  margin: 0 auto;
  padding: 0 auto;
  display: block;
}
.footer .block .title{
  font-size: 25px;
  color: #ffff;
  font-weight: bold;
}
.footer .block .block-content{
  padding-top: 20px;
}
.about{
  padding-top: 20px;
  max-width: 200px;
  text-align: justify;
  font-weight: 600;
}

.footer .block .block-content .item{
  padding: 0 auto;
  margin: 0 auto;
  text-align:start;
  display: flexbox;
  flex-direction: column;
  padding: 3px 0 !important;
}
.footer .block .block-content .item a{
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
}

/* admin sections */
.ant-layout-sider-children{
  background: #fff;
  height: 100vh;
}
.adminLayout .ant-layout-header{
  background: #fff !important;
  min-height: min-content;
  position: sticky;
}
/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .footer {
    display: flex;
  }
  .footer .block .title{
    font-size: 25px;
    color: #ffff;
    font-weight: bold;
    text-align: start;
  }
  .block .block-content{
    text-align: center;
    max-width: 400px;
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    display: block;
    max-width: fit-content;
    text-align: start;
  }
  .footer .block{
    padding-bottom: 10px;
  }
  .footer .block .block-content{
    text-align: start;
    justify-content: start;
    padding-left:5px ;
  }
  .footer .block .block-content .item a{
    color: #ffff;
    font-size: 16px;
    font-weight:500;
    text-align: start;
    justify-content: start;
  }


  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}